@import '../node_modules/@angular/material/core/theming/all-theme';
 
@include md-core();
$app-primary: md-palette($md-light-blue, 500, 100, 700);
$app-accent:  md-palette($md-pink, A200, A100, A400);
$app-warn:    md-palette($md-red);
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
 
.fill-remaining-space {
  flex: 1 1 auto;
}
 
body {
  background-color: #3a425d;
  font-family: 'Bitter', serif;
  padding: 0;
  margin: 0;
  font-size: .8em;
}
 
.md-whiteframe-z2 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.dialog_body {
  background-color: white;
}

.content.loading {
    margin: 0;
    padding: 0;
    font-family: Lexia,serif;
    background-color: #161e37;
    font-size: 12px;
    background-image: url(images/bgX.svg);
    background-repeat: no-repeat;
    background-position: top 75px right -80px;
    background-size: 500px;
    width: 100%;
    min-height: 1000px; 
}

.content .loader {
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(250, 185, 0, .2);
    border-right: 1.1em solid rgba(250, 185, 0, .2);
    border-bottom: 1.1em solid rgba(250, 185, 0, .2);
    border-left: 1.1em solid #fab900;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
   transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    position: absolute;
    left: 45%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loader,
.loader:after {
               border-radius: 50%;
               width: 10em;
               height: 10em;
}
 
@-webkit-keyframes load8 {
               0% {
                              -webkit-transform: rotate(0deg);
                              transform: rotate(0deg);
               }
               100% {
                              -webkit-transform: rotate(360deg);
                              transform: rotate(360deg);
               }
}
 
@keyframes load8 {
               0% {
                              -webkit-transform: rotate(0deg);
                              transform: rotate(0deg);
               }
               100% {
                              -webkit-transform: rotate(360deg);
                              transform: rotate(360deg);
               }
}

.logo {
    color: #eeecec;
    background-image: url("images/image-1.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 10px;
    right: 45px;
    width: 135px;
    height: 66px;
    background-position: bottom 8px right;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 27px;
    font-family: Lexia,serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-top: 130px;
    width: 600px;
    left: 100px;
    position: relative;

    h2 {
        color: #eeecec;
        font-size: 47px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin: 0;    
    }
}

td.nm {
    width: 17%;
}

td.btd {
    width: 8%;
    
    .stopped {
        color: #bb0000;
    }
    
    .started {
        color: green;
    }
}

.form-inputs  {
    font-weight: bold;
    
    small {
        color: #bb0000;
    }
}

md-card-title-group.cuit {
    font-family:  'Bitter', serif;
    color: #26b7cd;
    
    md-card-title {
        width: 14.5em;
        margin-bottom: 0px;
    }
    
    .mdc-img {
        margin-top: 1em;
    }
    
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-card-actions md-icon.material-icons {
    color: #3a425d;
    font-size: 1.5em;
}

md-card-actions legend {
    font-family:  'Bitter', serif;
}

.md-card-controls {
    position: absolute;
    top: 3px;
    right: 0;
    line-height: 1.2em;
    
    md-icon {
        height:  1.2em;
        width: 1.2em;
        cursor: pointer;
        font-size: 1.2em;
        color: #3a425d;
    }
}

.managerBody {
    margin-top: 35px;
    
    .col {
        margin: 0 15px;
        background-color: #fefefe;
        min-height: 40px;
        overflow: auto;
        max-height: calc(100% - 165px);
        position: static;
        float: left;
        left: inherit;

        input.sch {
            background-image: url(images/image-3.png);
            background-repeat: no-repeat;
            background-position: center right 5px;
            padding: 10px;
            font-size: 11px;
            background-size: 22px;
            width: calc(100% - 52px);
            margin-left: 2em;
            border-radius: 4px;
            box-sizing: border-box;
            border: 1px solid #c0c0c0;
            margin-bottom: 1em;
            margin-top: 10px;
        }
    }

    .header-col {
        margin: 0 15px;
        background-color: #161e35;
        border: none;
        color: #f8f8f9;
        position: static;
        float: left;
        height: 45px;
    }
    
    .left-col {
        width: -moz-calc(17% - 30px);
        width: calc(17% - 30px);
    }
    
    .center-col {
        width: -moz-calc(41% - 30px);
        width: calc(41% - 30px);
        left: 17%;
        background-image: url("images/drop_shadow_12px_horiz.png");
        background-repeat: repeat-y;
    }
    
    .right-col {
        width: -moz-calc(42% - 30px);
        width: calc(42% - 30px);
        right: 0;
        left: inherit;
        padding-top: 0;
    }
    
    h1 {
        font-size: 18px;
        text-align: left;
        margin-left: 20px;
        line-height: 20px;
        font-weight: bold;
    }
        
    .buttonDiv {
        float: right;
        cursor: pointer;
    
        .buttonLabel {
            display: inline-block;
            font-family: Arial,sans-serif;
            font-size: 13px;
            line-height: 42px;
        }
    }
    
    .addButton {
        border: none;
        height: 44px;
        width: 44px;
        margin: 0;
        padding: 0;
        background-image: url(images/image-5.png);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        display: inline-block;
        float: right;
    }
    
    .addButton .ui-button-text {
        display: none;
    }
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em;
}


/* ------------- Some core componentry ------------------ */
.configBody {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    margin: 15px 0px 15px 15px;

    .header-col {
        background-color: #161e35;
        border: none;
        color: #f8f8f9;
        position: static;
        float: left;
        height: 45px;
    }
    
    .header-col h1 {
        text-align: left;
        margin-left: 15px;
        line-height: 20px;
        font-size: 18px;
    }
    
    .full-col {
        width: calc(100% - 15px);
        width: -moz-calc(100% - 15px);
        display: inline-block;
        padding: 0;
    }
    
    .col {
        background-color: #fefefe;
        min-height: 40px;
        overflow: auto;
        max-height: calc(100% - 165px);
        max-height: -moz-calc(100% - 165px);
        position: relative;
    }
    
    legend {
        font-weight: bold;
    }
    
    .configTable {
        padding: 5px 15px;
    
        th {
            text-align: left;
            font-weight: bold;
            color: #505050;
            padding-right: 20px;
        }
    }
    
    .buttonDiv {
        float: right;
        cursor: pointer;
        
        .buttonLabel {
            display: inline-block;
            font-family: Arial,sans-serif;
            font-size: 13px;
            line-height: 42px;
        }
    }
    
    .addButton {
        background: none;
        border: none;
        height: 44px;
        width: 44px;
        margin: 0;
        padding: 0;
        background-image: url(images/image-5.png);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        float: right;
    }
}

/* ------------- Main Menu Navigation Links ------------------ */
.welcomeItem {
    border: none;
    background-color: #eeecec;
    margin-bottom: 10px;
    padding: 35px 60px 35px 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/image-2.png);
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: 50px;
    margin-top: 25px;
    min-height: 55px;
    
    .label {
        color:#26b7cd;
        font-size: 25px;
        font-weight: bold;
    }
    
    .desc {
        color: #161e37;
        font-family: arial,sans-serif;
        font-size: 11px;
        width: 190px;
    }
}

.welcomeItem:hover {
    background-image: url(images/image-6.png);
    cursor: pointer;
}

/* ----------------- Item List Formatting ------------------ */
.frame-header {
    background-color: #26b7cd;
    border: none;
    font-size: 14px;
    text-align: center;
    font-family: arial,sans-serif;
    font-weight: bold;
    color: white;
    padding: .5em;
}

th.frame-header ul.ng2-pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.configTable {
    padding: 5px 15px;

    th {
        text-align: left;
        font-weight: bold;
        color: #505050;
        padding-right: 20px;
    }
}

.nomem {
    margin-top: 1.5em;
    font-weight: bold;
    border: 1px solid #b00;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

.objectListTable {
    table-layout: auto;
    width: 100%;
    border-spacing: 0px;
    font-weight: bold;
    color: #505050;
    
    tr td {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    [md-raised-button] {
        line-height: 28px;
        font-family: 'Bitter', Serif;
        font-size: 12px;
    }
}

.userListHeader {
    font-size: 1.3em;
    
    span {
        font-size: 1.6em;
        color: green;    
    }
}

.truncatedUsername {
    padding: .5em 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    min-width: 0;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    line-height: 25px;
    font-size: 110%;
}    

.user {
    color: #505050;    
    font-weight: bold;
}

.user:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.user:hover .edit, .user:hover .remove {
    display: inline-block;
}

.user:hover .edit {
    display: inline-block;
}

ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    display: flex;
}

ul li {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    position: relative;
}

/**
 * Show selected elements in green
 */
ul li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
    
div.user {
    background-color: #fff;
    border: transparent;
    border: 1px solid #eaeaea;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 40px;
    min-width: calc(17% - 30px);
    overflow: hidden;
    position: relative;
    
    span.edit {
        background-image: url(images/editIcon_32x32.png);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0.6;
        display: none;
        margin-right: 4px;
        margin-top: 1px;
    }
    
    span.remove {
        background-image: url(images/trashIcon_32x32.png);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0.6;
        display: none;
        margin-right: 4px;
        margin-top: 1px;
    }
}
    
.userLabes {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    padding-right: 3px;
    
    .user-type {
        border-bottom-left-radius: 5px;
        display: inline-block;
        float: right;
        font-size: 9px;
        height: 12px;
        line-height: normal;
        padding: 5px 4px;
        position: relative;
        text-align: center;
        width: 50px;
    }
    
    .tma {
        margin-top: 5px;
        margin-right: 8px;
        color: #505050; 
    }
                
    .user-type.admin {
        background-color: #fbb900;
    }
    
    .user-type.supervisor {
        background-color: #26b7cd;
    }
}


/* ----------------- Forms Formatting ------------------ */
.form-container {
    background-color: white; 
    padding: 10px; 
    border-radius: 5px;
    
    h1 {
        font-family: 'Bitter', serif;
    }
}

.form-center h1 {
    margin-bottom: 0px;
    padding-left: 1em;
}

.form-inputs { 
    font-family: 'Bitter', serif;
    margin-top: 1em;
    
    .dgry, option, select, md-checkbox, select {
        color: #505050;
    }
    
    select, option, md-input, legend, label, small {
        font-family: 'Bitter', serif;
    }
    
    label, md-input, md-checkbox, select {
        font-size: 1.25em;
    }    
    
    legend, select, label, option, .md-input-placeholder {
        font-weight: bold;
    }
    
    label {
        color: rgba(0, 0, 0, 0.38);
        margin-right: 1em;
    }
    
    md-checkbox {
        margin-left: 1em;
        margin-top: 1em;
    }
    
    md-input, select {
        margin-bottom: 1em;
        width: 100%;    
    }
    
    select {
        margin-top: .5em;
        padding: .2em;
        border-radius: .2em;

        option {
            padding: .2em;
            font-size: .8em;
        }
    }
    
    select.mt {
        min-height: 100px;
    }
    
    button {
        margin-left: 1.5em;
    }
    
    ul {
        padding-left: 0;
    }

    .buttons button {
        margin-left: 1em;
    }
    
    .ns {
        display: none;
    }
    
    small {
        color: #bb0000;
        padding-bottom: .3em;
    }
}

.buttons a {
    margin-left: 15px;
}
                                                  
@import "./imports/material-layout";